.container {
  padding: 1rem;
  color: #5a5a5a;
  background-color: #ffeade;
  min-height: 100vh;
  padding-top: 1.75rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.section {
  margin-bottom: 1rem;
}

.sectionTitle {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.spaceY {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
}
